<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is text page.</title>
</head>
<body>
    What is Maharashtra = <b>{{variable1}}</b>
    What is India = <b>{{variable2}}</b>
    Welcome to the my website <br>
    Lorem ipsum dolor sit amet, <br>
    consectetur adipisicing elit. Recusandae voluptatibus quisquam sit esse provident expedita nulla eum a fugiat praesentium autem, deleniti cumque? Quod saepe dolor repellat voluptate explicabo distinctio!
    Lorem ipsum dolor sit amet, <br>
    consectetur adipisicing elit. Repellendus beatae ipsam ratione cupiditate qui, error eveniet facilis ad maiores dolorem laborum? Laborum quis impedit molestiae fugiat illum distinctio repellat expedita dolor. Tenetur a, sapiente eligendi esse expedita ipsam consequuntur quaerat earum? Nesciunt voluptas excepturi provident. 
</body>
</html>